{% extends 'base/front_base.html' %}
{% block title %}
    新闻详情页面
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/news/news_detail.min.css" %}">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="news-wrapper">
                    <h1 class="title">梧桐树资本董帅：重新理解在线教育行业中的变与不变</h1>
                    <div class="news-info">
                        <div class="info-group">
                            <span class="author">葫芦娃</span>
                            <span class="pub-time">2020/3/16</span>
                            <span class="category">热点</span>
                        </div>
                        <div class="share-group">
                            <span>分享至：</span>
                            <a class="weixin share-item"></a>
                            <a class="weibo share-item"></a>
                        </div>
                    </div>
                    <article class="article">
                        <div class="content-detail">
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">随着中国人口结构调整和国内市场的消费升级，教育消费在中国家庭消费支出的比重越来越大，中国教育市场也保持着良好的发展态势。以下是梧桐树资本投资总监董帅对教育行业趋势观察的精彩分享内容。</span>
                            </p>
                            <h3><span style="color: rgb(63, 63, 63); font-size: 16px;">教育投资的变与不变</span></h3>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">教育行业是一个高速变化的行业，不断有新的品类、新的巨头和新的模式出现，最近一段时间我们可以看到传统教育公司不断入局，政策引导、技术革新、产品模式升级对传统的教育业态不断颠覆，在当前局势下如何去理解这个加速变化的行业，从变和不变之中寻找投资机会是投资的根本目的。</span>
                            </p>
                            <p><img src="https://static-image.xfz.cn/1584330224_16.jpg" title="" alt="图1.jpg"></p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;"><strong>首先要说的是变化。</strong></span>
                            </p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">相对于传统行业来讲，今天的教育行业已经不是一个渐进变化的行业，而是一个指数性变革的行业，科技层面对教育的影响，例如在线化，移动互联网的人口红利，AI
                                    自适应学习产生的双师模式，短视频在营销方面的创新等等都是科技因素带来的改观；在政策层面，因为教育行业的强监管属性，大语文、职业教育等学科都正在面临革命性的利好。所以大家可以看到，政策、科技、经济、社会这些单一要素的剧烈变化都在影响影响教育行业的发展，而每一个单一变化背后都拥有着巨大机会。</span>
                            </p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;"><strong>不变的又是什么呢？</strong></span>
                            </p>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">我觉得可能需要重新去理解人完成一段技能或思维夯实的过程具体是怎样作用的，这个也许是教育心理学的范畴。近几年比较火的知识付费行业距离完整的教育路径还有不够完整的环节，知识付费行业完成的是知识和是思想的传播，是出版业的升级，但真正体系化的教育应该围绕体系的知识，也就是围绕教研、教学、练习、测评来展开，这个不断学和练的反复滚动，是「算法」在人脑中构建神经链接的基础方式，也是人认识新事物并且升级成技能的基础方法。</span>
                            </p>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">我们经常会聊到的刻意练习和一万小时定律都是基于这一规律在不同适用场景下的延伸。经过上百年打磨的线下教育中那些重要的因素：比如师生间的情感连结、同学间的竞争性和互助性、作为班级或学校存在的群体心理效应、课后练习和定期测试的夯实作用，都应该是在线教育行业在发展过程中围绕人身上一些不变的的性质去优化的重点。</span>
                            </p>
                            <p><img src="https://static-image.xfz.cn/1584330254_613.jpg" title="" alt="图2.jpg"></p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">我们对照经典电商中「人、货、场」的逻辑，对教育行业的拆分。这个拆分背后的逻辑是供给、需求和连接，从用户分层来看，以年龄为界，依据对人需求的拆解，从早教阶段到素质教育，小学到高中的
                                    K12 教育，大学到成人职业教育。这里面需求最集中，最刚需，复购意愿最高的依然是 K12 教育市场，但是增速相对最快的是素质教育市场。</span></p>
                            <p><img src="https://static-image.xfz.cn/1584330268_356.jpg" title="" alt="图3.jpg"></p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">从货的角度，出版化的东西仅满足人的基础信息需求，是对内容的消费。随着服务程度的加深，诞生了像叫叫语文，python
                                    训练营这类的公司，这类公司的核心特点是产品尽可能标准化，完成教学的过程同时让受众完成知识的积累，但是又以社群、练习题和班主任老师来完成教育过程中练测评的补充，提供教学知识外，买足教育场景的模拟，真正保证用户在能力上或者是在练习上有完整的交付。最后的重服务其实就是典型传统的一对一或者班课的培训需求，迁移到线上做了解决。</span>
                            </p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">这些重服务的需求，因为互联网的连接真正触达有需求的学生，并且用十倍好的效率复制原来的名师资源的传播，今天在线教育
                                    1.0 的阶段，真正改变的其实是场景问题，场景的另一方面是技术的实现，以及流量分发手段。</span></p>
                            <p><img src="https://static-image.xfz.cn/1584330287_85.jpg" title="" alt="图4.jpg"></p>
                            <h3 style="text-align: left;"><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">在线教育的发展阶段&nbsp;</span></h3>
                            <p><img src="https://static-image.xfz.cn/1584330352_737.jpg" title="" alt="图5.jpg"></p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">过去传统教育规模化难度高，因为核心是对人的管理。一方面名师可以自立山头，行业进入门槛低；另一方面，对人的管理是商业上典型的规模不经济，传统线下大班课，小班课，一对一，都有各自存在的问题，行业头部的市占率其实很低，行业结构分散。而在线教育兴起之后，集中度必然会比过去高很多，这也是出现伟大公司的机会，在线教育的
                                    1.0 阶段把线下的东西搬到线上，并且实现名师资源的规模化，2.0 阶段产品将代替老师，更多的辅助老师在教学之外来进行练测评，并且留下用户数据。3.0
                                    阶段则是用智能化打通教育公司的循环增长。</span></p>
                            <p><img src="https://static-image.xfz.cn/1584330364_989.jpg" title="" alt="图6.jpg"></p>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">上图为教研教学获客的三角核心，初创公司可以从原来的规模不经济实现到增长飞轮的动态状态。过去的教育公司重视人的力量和作用，好的教研用产品化的过程带来好的教学，好的教学用教育公司的口碑品牌力量为获客提供更好的辅助支持，但是仅仅到此为止。如果今天的教育创业公司可以实现教育智能化，那么就可以打通一个闭环，通过大规模的获客沉淀大规模的用户行为数据，这些数据可以反馈到教研的优化和提升中，从而进一步为教研过程带来更好的反馈，最终将形成闭环，真正实现类似『亚马逊增长飞轮』的良性循环路径。</span>
                            </p>
                            <p><img src="https://static-image.xfz.cn/1584330379_33.jpg" title="" alt="图7.jpg"></p>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">总结下来，教育投资的底层逻辑，我们认为有短期、中期、长期三个维度来看，短期其实是基于政策或者考试变革带来的学科红利机会窗口期，也可能是阶段性的渠道红利，因为微信生态、抖音等，依靠流量获客优势，也能短期支撑的起来一家大公司；中期要看人口红利，不管是今天比较火的下沉市场，还是基于消费的升级，人口和经济层面的变化是发展的必然节奏，三四五线城市对教育投入比例增加，素质教育学科不断增长，以上一切都是很明确的趋势；长期来看，真正推动世界向前的是技术结合产业的发展应用，技术产生新的教育模式，对教育的升级是长期的一个过程。所以短期、中期、长期里，政策、经济和技术分别是驱动教育投资的重要因素。</span>
                            </p>
                            <p><img src="https://static-image.xfz.cn/1584330392_791.jpg" title="" alt="图8.jpg"></p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;"><strong>To B
                                        领域的创业投资机会</strong></span></p>
                            <p><img src="https://static-image.xfz.cn/1584330411_525.jpg" title="" alt="图9.jpg"></p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">B
                                    端看两个场景，一个是针对公立校，另一个是针对市场化的培训机构，公立校是典型的依靠资源和渠道为导向，从 SaaS 和教研教具角度向公立校赋能的公司，面临每年公立校的 IT
                                    预算、教研预算上线有限制，市场规模的增量取决于教育信息化的大趋势。</span></p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">另外从公立校场景获客一类的公司，通过 2B
                                    这个手段来进入公立校应该是一个可以补充盈利的方向，不应该是一个核心的获客手段，这块的宏观政策干预超过了一家创业公司可以接受的安全值。</span></p>
                            <p><img src="https://static-image.xfz.cn/1584330427_373.jpg" title="" alt="图10.jpg"></p>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">培训机构可以分成好未来这样的大型培训机构和中小培训机构，大机构典型特点是，招商能力强、资金规模大、资金获取成本低，教师教研完善，受制于信息安全问题，大机构需要开发定制化的服务。相反来讲，分散化的中小培训机构公司因为它本身的模块并不完整，所以在标准化和多元化的解决方案上有更大的诉求。</span>
                            </p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">有三个指标是我们服务用户的核心指标，用户粘性，获客成本以及增值服务。以这三个维度，我们提出了一个公式，如果客户的
                                    LTV 比 CVC 大于 3，那就认为这个公司、这个公司所切的赛道值得深挖。</span></p>
                            <h3><span style="color: rgb(63, 63, 63); font-size: 16px;">TO C 领域的创业投资机会</span></h3>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">TO C
                                    市场，基于头部创业公司发展的趋势，我们可以看到今年暑期包括好未来、猿辅导、新东方、作业帮在内的在线巨头公司投放大战十分凶猛，再加上京东
                                    618，整个在线教育行业的获客成本瞬间被拉高了，字节跳动和广点通们甚至加速完成了自己的广告销售 KPI。相反也证明 暑假 K12
                                    培训战场，非常重要的节点，暑假的战争决定了之后一年培训机构的打法。</span></p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">基于如此，我们应该去关注公司这些要素的优化情况：单客营销 UE
                                    模型、用户投放效率、用户付费到课意愿和复购意愿、渠道稳定性。从渠道特性来讲，投放流量的获客路径可以分为大中小三个节点，譬如搜索竞价、信息流类型的大节点能够跑通，可以规模化十倍速放量。</span>
                            </p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">KOL
                                    分销、妈妈群、自媒体、投放广告是中节点，它的特点是受制于资源的饱和程度，不能形成信息流的规模化，但是能完成去中心化的关单环节，用户精准度更高。小节点的渠道特性是典型的
                                    C 带 C 的裂变路径。</span></p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;"><strong>这三个路径其实没有哪一个是绝对好，或绝对坏，创始人应该基于渠道特性和切入学科的特性，结合每个渠道的红利性和当时的特点，做出针对不同时期，大、中、小节点组合式的流量获客方式（比如先投放，针对投放来的
                                        leads 再裂变），最后实现销售关单的过程。这样整体流量持续供应的稳定性和销售效率可以实现最优解。</strong></span></p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;"><strong><img
                                    src="https://static-image.xfz.cn/1584330463_942.jpg" title=""
                                    alt="图11.jpg"></strong></span></p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">教育公司营销获客的过程应是可以通过规模化提升营销效率的过程，传统一对一电销或网销的方式其实有很大的效率优化空间。从去年到今年有很多
                                    9.9
                                    元的体验课，或者跟班试听课，对于教育公司来说，这是一种能量远大于电销的营销路径，本质是用户需要付费来听你展示自己的主营产品，在展示里公司会给用户传递自己的教学模式和未来的成果交付，一次完整的体验课，其实就是一次在线会销的过程，与过去相比，这个传递场频价值的过程将更为迅速。</span>
                            </p>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">同时，产品化的课程都有一个非常高效的路径，用户能以一个非常低的边际成本在展示中把自己高维的需求降低成低维的，一个高维的难解决并且需要用脑的问题，用户是愿意付更高的价格去解决的。</span>
                            </p>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">所以这个过程完成的就是一个把用户内心想要解决的困难的高维问题，降维成低维问题，并且引领的用户一次一次学习和练习，最终解决问题的过程。这就像沙拉中每种菜其实都不贵，但聚集到一起弄成沙拉就能卖出高的价格，整体价格大于个体之和的一个过程。</span>
                            </p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;"><strong>基于 TO C
                                        领域的不同年龄阶段，带来一些关于在线教育的思考</strong></span></p>
                            <p><img src="https://static-image.xfz.cn/1584330489_26.jpg" title="" alt="图12.jpg"></p>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">从学龄前到小学三年级之前，孩子的核心需求并不是提分，相对来讲，一二线市场的父母已经意识到在该阶段，大脑发展至关重要。父母付费意愿高并且孩子学业无压力，他们对学习学科的效果外化有一定的反馈需求，这是该市场的特点。</span>
                            </p>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">因此做素质教育的市场关键在于选择合适学科，短期尽快缓解父母对于教育投资是否有价值的焦虑，而英语类的素质教育，通过培训在付费者即孩子父母面前展现出来的外化的效果是各种学科中较为明显的，这也是为何英语类素质教育较为容易跑通。</span>
                            </p>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">相比起来，数学思维学科则是在教学过程游戏化和产品化的过程中升级了体验，吸引孩子深度兴趣，让家长发现孩子对学习的兴趣来激励付费意愿。相较以上，大语文的核心推动路径有所不同，整体是国家文化强国战略的支持下的大语文改革，在高考政策和小学的教材调整都有重大的改革基础，其次才是教学是否游戏化的因素。</span>
                            </p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">针对这些素质学科的红利，我们认为会逐渐渗透下沉到三四线城市，未来三四线城市会沿着一二线城市的需求演进，目前来看时机还不是太成熟，参培率没有达到一个爆发期的阶段，我们认为一个市场某个教育产品渗透率（参培率）从
                                    0 到 10% 是一个较为缓慢的过程，但是 10%-40% 是会以 S 形曲线高速发展，所以目前大多素质教育学科在下沉市场暂未到达爆发阶段。</span></p>
                            <p><img src="https://static-image.xfz.cn/1584330520_20.jpg" title="" alt="图13.jpg"></p>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">从小学四年级到高考的阶段，核心需求是提分和符合高考的诉求，所以一二线城市目前是一个竞争白热化的状态，不管是线下的参培率还是行业的巨头，目前初创公司的机会都不是特别大。三四线城市面临着名师和巨头下沉不易的问题，基于科技的发展和创新模式，好的教师供给可以逐渐进入三四线城市，比如说双师、在线大班课等模式就是很好的切入方式，其中大语文是尤其推荐关注的学科，有兴趣的朋友可以关注下立思辰今年整体在语文上的动作。</span>
                            </p>
                            <p><img src="https://static-image.xfz.cn/1584330532_85.jpg" title="" alt="图14.jpg"></p>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">职业教育市场，从整体宏观趋势上来讲，国家希望劳动力能力水平提升，并对具体对各个资格证市场做出明确市场化政策改革举措，以市场化的角度推动资格证和能力的提升。</span>
                            </p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">另一方面，基于今天 IT
                                    业赋能的新经济整体催生出一些「互联网+」的新细分行业和新社会分工，而这些又是传统大学的空白，不管是新媒体、产品、运营、Python、数据分析、电竞，这些学科在传统的分工里面是没有的。大学体制里也缺少体系化的培养。基于这样一个劳动力越来越贵，国家希望每个劳动力效能提升的客观情况，将会有越来越多的人需要终身学习，持续迭代。</span>
                            </p>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">关于职业教育产品的单客交易模型，需要保持利润的持续性。其次，产品需要重视针对用户的学习反馈设计，而不是像过去录播视频学习的传统路径。从产品模式上，我们较为关注基于录播课做升级，微信社群关系为基础，做产品化有高反馈密度的教学模式。同时，它能留存用户的数据，基于学生关系完成教学之外，练测评环节真正为用户自我反馈提供成长。</span>
                            </p>
                            <p><span style="color: rgb(63, 63, 63); font-size: 16px;">从行业特性上来看，我们认为，今天职业教育和 K12
                                    有个核心的区别就是在于，K12 教育的用户生命周期较长，应该用好的教研教学能力从小学阶段抓住用户，为未来的 12
                                    年持续购买确立用户基础，但是职业教育用户生命周期较短，平行学科的拓展的重要性更多，所以总结来看：K12 教育的核心在于续费，职业教育的核心在于扩科。</span>
                            </p>
                            <p><img src="https://static-image.xfz.cn/1584330552_676.jpg" title="" alt="图15.jpg"></p>
                            <p><span
                                    style="color: rgb(63, 63, 63); font-size: 16px;">整体的分享部分就是这样，个人做教育投资两三年，真心觉得教育行业从业者大多都称得上是务实的理想主义者，在商业和社会价值中，做平衡取舍，守得住初心，冒的了风险，搞得了创新，真的为人民有更理性的思辨能力、更开阔的视野，更专业的技能不断探索和努力。感谢他们用亲身创造的方式为大家去预测未来教育的最佳形态。</span>
                            </p>
                            <div class="news-detail-adv-spe"><a
                                    href="https://mp.weixin.qq.com/s/wlmnWNmexrfXWGRP2AbzBQ?adf=post.bottom"
                                    target="_blank"><img src="https://static-image.xfz.cn/1583898811_141.jpg"></a></div>
                        </div>
                    </article>
                </div>
                <div class="comment-wrapper">
                    <h3 class="title">文章评论(0)</h3>
                    <textarea name="comment" class="comment-textarea logined-textarea"
                              placeholder="立即登录，参与评论"></textarea>
                    <div class="submit-btn-group">
                        <button class="submit-btn">立即评论</button>
                    </div>
                    <ul class="comment-list">
                        <li>
                            <div class="comment-info">
                                <img src="https://static-image.xfz.cn/1564640994_620.jpg" class="avatar">
                                <span class="author">小知了</span>
                                <span class="pub-time">1小时前</span>
                            </div>
                            <p class="comment-content">这是第一条评论</p>
                        </li>
                        <li>
                            <div class="comment-info">
                                <img src="https://static-image.xfz.cn/1564640994_620.jpg" class="avatar">
                                <span class="author">小知了</span>
                                <span class="pub-time">1小时前</span>
                            </div>
                            <p class="comment-content">这是第一条评论</p>
                        </li>
                    </ul>
                </div>
            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}